<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>OpenLayers: OSM Layer</title>
    <link rel="stylesheet" href="/static/OpenLayers/theme/default/style.css" type="text/css" />
    <link rel="stylesheet" href="style.css" type="text/css" />
    <style>
        #map {
            height: 350px;
        }
    </style>
    <script src="/static/OpenLayers/lib/OpenLayers.js"></script>
    <script src="/static/OpenLayers/lib/OpenStreetMap.js"></script>


    <script type="text/javascript">
        var lon = 5;
        var lat = 40;
        var zoom = 12;
        var map, layer;
        function on_feature_hover(feature) {
            var text ="<ul>";
            var type ="way";
            if (feature.geometry.CLASS_NAME == "OpenLayers.Geometry.Point") {
                type = "node";
            }    
            text += "<li>" + feature.osm_id + ": <a href='http://crschmidt.net/osm/attributes.html?type="+type+"&id="+feature.osm_id+"'>Edit</a>, <a href='http://www.openstreetmap.org/api/0.5/"+type + "/" + feature.osm_id + "'>API</a></li>";
            for (var key in feature.attributes) {
                text += "<li>" + key + ": " + feature.attributes[key] + "</li>";
            }
            text += "</ul>";
            $("status").innerHTML = text;
        }   
        function clear_data() {

        }
        function new_data() {
            if (!check_zoom()) { return; }
            clear_data();

        }
        function style_osm_feature(feature) {
            feature.style = OpenLayers.Util.extend({'fill':'black'}, OpenLayers.Feature.Vector.style['default']);
            if (feature.attributes.highway == "motorway") {
                feature.style.strokeColor = "blue";
                feature.style.strokeWidth = 5;
            } else if (feature.attributes.highway == "primary") {
                feature.style.strokeColor = "red";
            } else if (feature.attributes.highway == "secondary") {
                feature.style.strokeColor = "orange";
            } else if (feature.attributes.highway) {
                feature.style.strokeColor = "black";
            }   
        }
        function check_zoom() { 
            var zoom = map.getZoom();
            if (zoom >= 11) { return true; }
            if (zoom >= 9) { return confirm("Loading this amount of data may slow your browser. Are you sure you want to do this?"); }
            $("status").innerHTML = "Area too large. Zoom in to load data. (Current zoom level: "+ zoom + ". Must be at zoom 9+.)";
            return false;
        }    
        function init(){
            OpenLayers.ProxyHost = "proxy.cgi?url=";
            OpenLayers.Feature.Vector.style['default'].strokeWidth = 4;
            OpenLayers.Feature.Vector.style['default'].cursor = 'pointer';


  map = new OpenLayers.Map ("map", {
          controls:[
            new OpenLayers.Control.Navigation(),
            new OpenLayers.Control.PanZoomBar(),
            new OpenLayers.Control.Attribution()],
//          maxExtent: new OpenLayers.Bounds(-20037508.34,-20037508.34,20037508.34,20037508.34),
          maxResolution: 156543.0399,
          numZoomLevels: 19,
          units: 'm',
          projection: new OpenLayers.Projection("EPSG:900913"),
          displayProjection: new OpenLayers.Projection("EPSG:4326")
        } );

        layerTilesAtHome = new OpenLayers.Layer.OSM.Osmarender("Osmarender");
        map.addLayer(layerTilesAtHome);

	if( ! map.getCenter() ){
          var lonLat = new OpenLayers.LonLat([% openlayers.center.lon %], [% openlayers.center.lat %]).transform(new OpenLayers.Projection("EPSG:4326"), map.getProjectionObject());
          map.setCenter (lonLat, zoom);
        }


        }
    </script>
  </head>
  <body onload="init()">
    <h1 id="title">Advanced OSM Layer</h1>
    <h2>[% openlayers.center.lon %], [% openlayers.center.lat %] </h2> 

    <div id="map" class="smallmap"></div>
    <div id="download">
      <ul>
       <li><a href="javascript:new_data();">Download current view</a></li>
       <li><a href="javascript:clear_data();">Clear current data</a></li>
       <li><a href="javascript:export_vectors();">Export Vector Data</a></li>
      </ul>
    <div id="status">Loading...</div>
    </div>
    <a id="vectorlink" href="" style="display:none">Display via data: URL (FF Only)</a>
    <textarea id="vectors" style="display:none;width:100%" rows="10"></textarea>
  </body>
</html>
