<html>
<head>
<title>AJAX !</title>

<script type='text/javascript' 
src='/static/prototype/prototype.js'> </script>
<script type="text/javascript" src="/static/javascript/extjs-2/adapter/ext/ext-base-debug.js"></script>
<script type="text/javascript" src="/static/javascript/extjs-2/ext-all-debug.js"></script>

<script type='text/javascript' src='/static/javascript/oad.js'> </script>
<script type='text/javascript'>
//alert("hello1");
function ajaxrequest3()
{
//    var a = document.getElementById("destination").value;
//    var b = document.getElementById("date").value;

alert("hello");
    var request = new Ajax.Request
        ('http://localhost:3000/autocrud/OAD/addresses',
            { method: 'get',
              onComplete: responseReceived }
        );


//    var a = document.getElementById("destination").value;
    var a = document.getElementById("current-selection").value;

//THE MAP //    var request2 = new Ajax.Request       ('http://localhost:3000/geo/geonames/search/' + a ,         { method: 'get',          onComplete: responseReceivedMap }        );


}




// The callback function
function responseReceived(xmlHTTP)
{
document.getElementById('response_table').innerHTML = xmlHTTP.responseText;
}

//function responseReceivedMap(xmlHTTP)
//{
//document.getElementById('response_map').innerHTML = xmlHTTP.responseText;
//}

document.observe("dom:loaded", function() {
  
// ajaxrequest();

});


</script>

</head>


<body>
Response Map <div id="response_map"></div>
<!--
<iframe id="iframe-geonames" name="geonames" 
 src="/geo/geonames/search/prizren" height=500 width=1000 >
</iframe>
--> 

Response Table <div id="response_table"></div>
<!-- <iframe id="iframe-addr" name="addresses" src="/autocrud/OAD/addresses" height=500 width=1000 >
</iframe>-->
</body></html>
